Backup is done incremental on daily and full backup is done 1 every week
We need to keep the Sanapshots for 30 days
Recovery must be tested 2 X per year
The replication is done in Irelande

Lien pour information sur l’API : https://docs.atlas.mongodb.com/api
Lien pour les backups et restores : https://docs.atlas.mongodb.com/backup-restore-cluster
Lien Terraform pour Atlas : https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs
Lien pour backup Terraform : 
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/cloud_provider_snapshot
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/cloud_provider_snapshot_backup_policy
Lien pour restore Terraform :
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/cloud_provider_snapshot_restore_job
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/cloud_provider_snapshot_restore_jobs
Lien pour réplication cross region
https://www.mongodb.com/blog/post/new-to-mongodb-atlas-cross-region-replication-new-instance-sizes
